body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
.timer-container{
    background:white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.timer{
    font-family: 30px;
    color: #28a745;
    font-weight: bold;
}